h1{
    color:rgb(42, 165, 91);
    text-align: center;

}
html{
    background-color: #ffffff;
    background-image: linear-gradient(rgba(1,85,96,0.6),rgba(12,24,6,0.32)), url(../imagen1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    color: azure;

}